* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  /* padding: 0 20px; */
}

.nav-container {
  max-width: 1200px;
  /* height: 200px; */
  padding: 0 30px;
  display: flex;
  /* justify-content: space-between; */
  border-radius: 20px;
  /* position: fixed; */
}

header {
  background-color: #f2f2f2;
  padding: 20px 0;
}

nav {
  display: flex;
  /* justify-content: center; */
}

.links {
  display: flex;
  justify-content: space-around;
  text-align: center;
  /* justify-content: right; */
  padding-top: 20px;
  padding-left: 400px;
  /* margin-left: 50px; */
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
}

.link:hover {
  color: #4285f4;
}

.logo img {
  max-width: 150px;
  text-align: left;
}

.carousel {
  height: 500px;
  width: auto;
  /* border: 2px solid red; */
  background-size: cover;
  /* background-color: red; */
  /* color: #fff; */
  background-image: url("./images/photo.jpg");
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  animation: hero 70s infinite;
}

/* .carousel img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
} */

@keyframes hero {
  0%,
  100% {
    background-image: url("./images/photo.jpg");
  }
  25% {
    background-image: url("./images/photo_5.jpg");
  }
  50% {
    background-image: url("./images/photo_1.jpg");
  }
  75% {
    background-image: url("./images/photo_3.jpg");
  }
}

.features h2 {
  text-align: center;
  margin-bottom: 30px;
}

.title {
  text-decoration: underline;
  padding-left: 50px;
  color: #4285f4;
  text-shadow: 1px 1px #a7f442;
}
.column {
  /* display: flex; */
}

.feature {
  width: auto;
  height: 200px;
  border: 1px solid;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  border-radius: 50px;
  box-shadow: 5px 5px 5px lightblue;
  background-color: rgba(83, 58, 58, 0.18);
  position: relative;

  /* justify-content: center; */
}

.image-container {
  flex: 1;
  margin: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.text-container {
  flex: 2;
  margin: 30px;
}

.feature img {
  max-width: 200px;
}

footer {
  background-color: #f2f2f2;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
