* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}
/* .header {
  padding: 20px 0;
  margin: 30px;
} */
.container {
  max-width: 1200px;
  margin: 0px auto;

  /* padding: 0 20px; */
}

.nav-container {
  max-width: 1200px;
  /* margin-left: 40px; */
  /* margin: 0px auto; */
  background-color: rgba(242, 242, 242, 0.8);
  /* background-color: #f2f2f2; */
  opacity: 0.8;
  /* padding: 0 30px; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  position: fixed;
  top: 0;
  /* left: 0; */
  width: 100%;
  z-index: 1000;
  border-radius: 20px;
}

.links {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 20px;
  padding-left: 400px;
}

.link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 10px 20px;
}

.link:hover {
  color: #4285f4;
}

.logo img {
  max-width: 150px;
  text-align: left;
}

.carousel {
  height: 500px;
  width: auto;
  /* border: 2px solid red; */
  background-size: cover;
  /* background-color: red; */
  /* color: #fff; */
  background-image: url("./images/photo.jpg");
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  animation: hero 70s infinite;
}

/* .carousel img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
} */

@keyframes hero {
  0%,
  100% {
    background-image: url("./images/photo.jpg");
  }
  25% {
    background-image: url("./images/photo_5.jpg");
  }
  50% {
    background-image: url("./images/photo_1.jpg");
  }
  75% {
    background-image: url("./images/photo_3.jpg");
  }
}

.features h2 {
  text-align: center;
  margin-bottom: 30px;
}

.title {
  text-decoration: underline;
  padding-left: 50px;
  color: #4285f4;
  text-shadow: 1px 1px #a7f442;
}

.feature {
  width: auto;
  height: 200px;
  border: 1px solid;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  border-radius: 50px;
  box-shadow: 5px 5px 5px lightblue;
  background-color: rgba(83, 58, 58, 0.18);
  position: relative;

  /* justify-content: center; */
}

.image-container {
  flex: 1;
  margin: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.text-container {
  flex: 2;
  margin: 30px;
}

.feature img {
  max-width: 200px;
}

footer {
  /* background-color: #f2f2f2; */
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
/* breadcumb */
.breadcrumb {
  position: relative;
  margin-top: 100px;
  max-width: 1200px;
}

.breadcrumb-bg {
  background-image: url("./images/photo_1.jpg");
  background-size: cover;
  height: 90px;
  /* border-radius: 20px; */
}

.container-b {
  position: relative;
  /* z-index: 100; */
}

.breadcrumb-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

.breadcrumb-list {
  text-align: center;
  margin-top: 40px;
}

.breadcrumb-list ol {
  list-style: none;
  /* padding: 0; */
  /* margin: 0; */
}

.breadcrumb-list li {
  display: inline;
  margin: 0 5px;
}

.breadcrumb-link {
  color: #4285f4;
  text-decoration: none;
}

.breadcrumb-title,
.breadcrumb-category {
  color: #fff;
}

/* about us*/
.about-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

.image-about {
  flex: 1;
  margin: 20px;
}

.about-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.content-container {
  flex: 1;
  margin-left: 30px;
  padding: 0 20px;
}
.read-more-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.read-more-button:hover {
  background-color: #e60073;
}
.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icons h4 {
  width: 45%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

/* Contact us */
.contact {
  padding: 40px 0;
  background-color: rgba(128, 128, 128, 0.1);
}

.contact-map {
  margin: 0px 30px;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4285f4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #e60073;
}
/* Mobile */
/* main page */
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .links {
    padding-left: 0;
    justify-content: center;
  }

  .carousel {
    height: 300px;
  }

  .title {
    padding-left: 0;
  }

  .feature {
    flex-direction: column;
    height: auto;
  }

  .image-container,
  .text-container {
    margin: 10px;
  }

  .text-container {
    margin-top: 0;
  }
}
@media only screen and (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    padding: 10px 0;
    position: relative;
    /* display: none; */
  }

  .links {
    padding-top: 10px;
    flex-direction: column;
  }

  .link {
    padding: 10px 0;
    display: block;
  }

  .logo img {
    margin-bottom: 10px;
  }
}
/* About us */
@media only screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .image-about {
    flex: 0 0 auto;
    margin: 20px 0;
    height: 300px;

    .content-container {
      flex: 1;
      margin-left: 0;
      padding: 0;
    }

    .icons h4 {
      width: 100%;
    }
  }
}
